img{
  width: 1500px;
  height: auto;
  display: block;
}


header a{
    color: aliceblue;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header ul{
    list-style: none;
    padding: 0;
    margin: 30px;
     display: flex;
     flex-wrap: wrap;
    justify-content: center;
 
}
header li a{
     display: inline-block; 
     color: azure;
    font-size: 30px;
    line-height: 30px;
    padding: 30px 30px 20px 30px;
    height: 40px;
      font-size: 20px;
}

 
  h2 { 
    color: rgb(15, 15, 15); 
    font-size: 80px;
    margin: 20px;
        
}
h3{
 color:rgb(79, 106, 64);
    font-size: medium;                                       
    font-style: normal;  
    line-height: 40px;  
     margin: 20px; 
}

h4{
    color: rgb(79, 106, 64);
    font-size:large;                                       
    font-style: normal;  
    text-align: center; 
    
}


.question {  
    margin: 10px;
    color: rgb(15, 15, 15);
    font-size: medium;                                       
    border-radius: 3rem rgb(0, 0, 0);     
 }



  button { margin: 10px 100px ; 
    padding: 10px 15px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px 0;
       margin-right:6vw;
    font-size: 20px;
    background-color: rgb(79, 106, 64); color: white;  cursor: pointer;
    text-align: center;
 }
  button:hover { background-color: rgb(155, 151, 43); 
  border-radius: 30px 0;
  font-size: 30px; 
   margin-right:6vw; 
   text-align: center;
   margin: 10px 100px ; 




}
  #result { margin-top: 30px; font-size: 1.2em; font-weight: bold;
border-radius: 50% 10% 50% 10%;
    border: 1px,groove,whitesmoke;
     border-radius: 20px;
     margin: 20px;
     color: rgb(79, 106, 64);
    font-size: 20px;
    }

    a{
    display: block;
    text-align: center; 
    border-radius: 3rem;
    font-size: 15px;
    background-color: rgb(79, 106, 64); color: white;  cursor: pointer;
    text-decoration: none;
    margin: 100px; 
    padding: 20px;
   border:3px

    }
   a:hover { background-color: rgb(155, 151, 43); 
   border-radius: 3rem;
   font-size: 20px; 
   text-align: center; 
   margin: 100px; 
    padding: 20px;
      border:3px

   }
   .score-item {
  margin-bottom: 16px;
}

.score-label {
  margin-bottom: 4px;
  font-weight: bold;
}

.score-bg {
  width: 100%;
  height: 18px;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.score-bar {
  height: 100%;
  background: rgb(79, 106, 64); /* 你之後可以每型不同色 */
  width: 0%;
  border-radius: 10px;
  transition: width 0.6s ease;
}

p{
   color: #ffffff;
   background-color: rgb(79, 106, 64); 
   border-radius: 3rem;
   font-size: 20px; 
   text-align: center;  
   padding: 30px;
   line-height: 40px;  
    border-radius: 2rem; 
    }
#personality-text {
  font-size: 1.1em;
  line-height: 1.6;
  margin-top: 12px;
}

/* 各人格顏色 */
#personality-text {
  
 background-color: rgb(79, 106, 64); 
 margin: 5px 0; 
    padding: 10px 15px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px 0;
       margin-right:6vw;
    font-size: 20px;
    color: #ffffff;
   
}


